.ui-rating-widget {
  .empty-icon {
    fill: none;
    stroke: #464646;
    stroke-miterlimit: 10;
  }

  .full-icon {
    fill: #F7941D;
    stroke: #F7941D;
    stroke-miterlimit:10;
  }

  .highlight {
    fill: #F7941D;
    stroke: #F7941D;
  }
}
